* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Outfit', sans-serif;
}

body {
      background-color: hsl(212, 45%, 89%);
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
}

.card {
      background-color: hsl(0, 0%, 100%);
      border-radius: 15px;
      width: 300px;
      padding: 16px;
      text-align: center;
      box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.card img {
      width: 100%;
      border-radius: 10px;
}

.card h1 {
      font-size: 20px;
      color: hsl(218, 44%, 22%);
      margin: 20px 0 10px;
}

.card p {
      font-size: 15px;
      color: hsl(220, 15%, 55%);
      line-height: 1.5;
}

/**footer {
  text-align: center;
  font-size: 14px;
  color: hsl(220, 15%, 55%);
  padding: 20px 10px;
}

footer a {
  color: hsl(218, 44%, 22%);
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
} **/